<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="studentService" class="com.bjpowernode.service.impl.StudentServiceImpl"/>-->
<!--    <bean id="myAspect" class="com.bjpowernode.aspect.MyAspect"/>-->

    <context:component-scan base-package="com.bjpowernode"/>
    <!--其工作原理是，<aop:aspectj-autoproxy/>通过扫描找到@Aspect 定义的切面类，再由切
        面类根据切入点找到目标类的目标方法，再由通知类型找到切入的时间点。-->
    <aop:aspectj-autoproxy/>

</beans>
