<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 namespace：必须有值，自定义的唯一字符串
 推荐使用：dao 接口的全限定名称
-->
<mapper namespace="com.bjpowernode.mapper.StudentMapper">

    <select id="list" resultType="Student">
        select * from tb_student
    </select>

    <select id="findById" resultType="student">
        select * from tb_student where id = #{id}
    </select>

    <update id="updateMoney" parameterType="student">
        update tb_student set money = #{money} where id = #{id}

    </update>
</mapper>
