<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 namespace：必须有值，自定义的唯一字符串
 推荐使用：dao 接口的全限定名称
-->
<mapper namespace="com.bjpowernode.mapper.ClassRoomMapper">
    <!--    id随意; type:实体类的全限定类名 -->
    <resultMap id="roomMap" type="ClassRoom">
        <id column="id" property="id"/>
        <result column="classname" property="classname"/>
        <collection property="list" ofType="Student">
            <result column="sid" property="id"/>
            <result column="cid" property="cid"/>
            <result column="name" property="name"/>
            <result column="age" property="age"/>
            <result column="isdeleted" property="isdeleted"/>
        </collection>
    </resultMap>

    <select id="findById" resultMap="roomMap" resultType="ClassRoom">
        select c.*, s.id 'sid', s.*
        from tb_classroom c
                 join tb_student s on s.cid = c.id
        where c.id = #{id}
    </select>

</mapper>
